body{
    background-color:pink;
}
hr{
    border-style:dotted none none;
    border-color:blueviolet;
    border-width: 10px;
    height:0px;
    width:10%; /*It means 30% of the entire website. It can help with better view in mobile phones. We can also use the dimension of unit px.*/
    
}

/* img{
    height:300px;
} */

h1,h3{
    color:#DF2E38;
}